@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap');

$antonio-font: 'Antonio', sans-serif;
$spartan-font: 'Spartan', sans-serif;
$white-color: #fff;
$background-color: #070724;
$mercury: #419ebb;
$venus: #eda249;
$earth: #6d2ed5;
$mars: #d14c32;
$jupiter: #d83a34;
$saturn: #cd5120;
$uranus: #1ec1a2;
$neptune: #2d68f0;

@mixin tabletScreen {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktopScreen {
  @media screen and (min-width: 1440px) {
    @content;
  }
}

h1 {
  font-size: 40px;
  font-family: $antonio-font;
  color: $white-color;
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  font-family: $antonio-font;
  color: $white-color;
  text-transform: uppercase;
  letter-spacing: -0.75px;
}

h4 {
  font-size: 8px;
  font-family: $spartan-font;
  color: $white-color;
  text-transform: uppercase;
  letter-spacing: 0.73px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.5);
}

p {
  font-size: 11px;
  color: $white-color;
  font-family: $spartan-font;
  line-height: 22px;
  text-align: center;
}

@include tabletScreen {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 24px;
    letter-spacing: -0.9px;
  }
}

@include desktopScreen {
  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 40px;
    letter-spacing: -1.5px;
  }

  h4 {
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 25px;
  }

  p {
    font-size: 14px;
    line-height: 25px;
  }
}

.btn-info {
  background: transparent;
  border: 0;
  font-family: $spartan-font;
  font-size: 9px;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  padding: 20px 0;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  transition: all 0.4s ease-in-out;

  &.active {
    color: $white-color;

    &.Mercury {
      border-color: $mercury;
    }
    &.Venus {
      border-color: $venus;
    }
    &.Earth {
      border-color: $earth;
    }
    &.Mars {
      border-color: $mars;
    }
    &.Jupiter {
      border-color: $jupiter;
    }
    &.Saturn {
      border-color: $saturn;
    }
    &.Uranus {
      border-color: $uranus;
    }
    &.Neptune {
      border-color: $neptune;
    }
  }

  span {
    display: none;
  }
}
