@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=Spartan:wght@400;700&display=swap');

$antonio-font: 'Antonio', sans-serif;
$spartan-font: 'Spartan', sans-serif;
$white-color: #fff;
$background-color: #070724;
