.home {
  width: calc(100vw - 48px);
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h1 {
    text-align: center;
  }

  p {
    font-size: 16px;
  }

  .home-link {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-family: $spartan-font;
    font-size: 12px;
    font-weight: bold;
    color: $white-color;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }

  &:hover {
    border-color: $earth;
    color: red;
  }
}
