.nav {
  width: 100vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 16px 0;
  font-family: $antonio-font;

  &-center {
    width: calc(100% - 48px);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-size: 28px;
    letter-spacing: -1.05px;
    text-transform: uppercase;
    text-decoration: none;
    color: $white-color;
  }

  .sidebar-btn {
    font-size: 27px;
    color: $white-color;
    cursor: pointer;
    transition: color 0.8s ease-in-out;

    &.active {
      color: rgba(255, 255, 255, 0.25);
    }
  }

  .links {
    display: none;
  }
}

@include tabletScreen {
  .nav {
    padding: 20px 0;

    .title {
      padding-bottom: 20px;
    }

    &-center {
      width: calc(100% - 4rem);
      flex-direction: column;
    }

    .links {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style-type: none;

      a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.75);
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 1px;
        line-height: 25px;
        border-bottom: 4px solid transparent;
        padding-bottom: 20px;
        transition: all 0.4s ease-in-out;

        &:hover {
          color: $white-color;

          &.Mercury {
            border-color: $mercury;
          }
          &.Venus {
            border-color: $venus;
          }
          &.Earth {
            border-color: $earth;
          }
          &.Mars {
            border-color: $mars;
          }
          &.Jupiter {
            border-color: $jupiter;
          }
          &.Saturn {
            border-color: $saturn;
          }
          &.Uranus {
            border-color: $uranus;
          }
          &.Neptune {
            border-color: $neptune;
          }
        }
      }
    }

    .sidebar-btn {
      display: none;
    }
  }
}
