.planet {
  width: calc(100% - 48px);
  margin: 0 auto;
  max-width: 1220px;

  &-img-container {
    width: 100%;
    padding: 84px 0 4rem 0;
    position: relative;

    .planet-img {
      display: block;
      margin: 0 auto;
      width: 40%;
      max-width: 420px;
    }

    .sub-planet-img {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -75%);
      width: 20%;
      display: block;
      max-width: 160px;
    }
  }

  .info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

.wiki-link-container {
  color: rgba(255, 255, 255, 0.5);
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 3px;
}

.wiki-link {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  gap: 3px;

  .wiki-logo {
    transition: all 0.4s ease-in-out;
  }

  &:hover .wiki-logo {
    font-size: 20px;
  }
}

.btn-info-container {
  position: absolute;
  top: 69px;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 2rem 0;

  &-item {
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
}

@include tabletScreen {
  .planet {
    width: calc(100% - 4rem);

    &-img-container {
      padding: 2rem 0 3rem 0;
    }

    &-info {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4rem;
    }

    .info-container {
      align-items: inherit;
      gap: 1rem;

      p {
        text-align: left;
      }
    }
  }

  .btn-info-container {
    position: inherit;
    top: inherit;
    left: inherit;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0px;
    border-bottom: none;
  }

  .btn-info {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: $white-color;
    text-transform: uppercase;
    padding: 0;
    padding-left: 20px;
    text-align: left;

    &:hover {
      background: rgba(216, 216, 216, 0.2);
      border-color: transparent;
    }

    &.active {
      &.Mercury {
        border-color: rgba(255, 255, 255, 0.2);
        background: $mercury;
      }
      &.Venus {
        border-color: rgba(255, 255, 255, 0.2);
        background: $venus;
      }
      &.Earth {
        border-color: rgba(255, 255, 255, 0.2);
        background: $earth;
      }
      &.Mars {
        border-color: rgba(255, 255, 255, 0.2);
        background: $mars;
      }
      &.Jupiter {
        border-color: rgba(255, 255, 255, 0.2);
        background: $jupiter;
      }
      &.Saturn {
        border-color: rgba(255, 255, 255, 0.2);
        background: $saturn;
      }
      &.Uranus {
        border-color: rgba(255, 255, 255, 0.2);
        background: $uranus;
      }
      &.Neptune {
        border-color: rgba(255, 255, 255, 0.2);
        background: $neptune;
      }
    }

    span {
      display: inline-block;
      color: rgba(255, 255, 255, 0.5);
      margin-right: 1rem;
    }
  }

  .footer {
    flex-direction: row;

    &-item {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: inherit;
    }
  }
}

@include desktopScreen {
  .planet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 6rem;
    gap: 8rem;
    align-items: center;

    &-img-container {
      padding: 0;

      .planet-img {
        width: 100%;
        max-width: inherit;
      }

      .sub-planet-img {
        transform: translate(-50%, -75%);
        width: 30%;
        max-width: inherit;
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }

    .info-container {
      align-items: inherit;
      gap: 1rem;
    }
  }

  .wiki-link-container {
    font-size: 14px;
  }

  .btn-info {
    font-size: 12px;
  }

  .footer {
    grid-column: 1 / 3;

    &-item {
      padding: 20px;
    }
  }
}
