@import './global-var';

body {
  background: $background-color;
}

.background-logo {
  position: fixed;
  z-index: -100;
}

@include desktopScreen {
  .background-logo {
    width: 100vw;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import './navbar';
@import './single-planet';
@import './sidebar';
@import './home-error';
